    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
    
    html {
        font-size: 10px;
    }
    
    body {
        margin: 0;
        color: #777777;
        font-family: 'Roboto Slab', serif;
        font-size: 1.3rem;
    }
    
    h1,
    h2,
    h3,
    h4 {
        text-transform: uppercase;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: #222222;
    }
    
    .main {
        height: 100vh;
        min-height: 300px;
        background: url(../images/main-bg.jpg) no-repeat center;
        background-size: cover;
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .header,
    .box-cards {
        width: 67%;
    }
    
    .header {
        padding: 50px 0;
        height: 17vh;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    
    .menu {
        width: 60%;
    }
    
    .menu ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
    
    .menu-link {
        text-decoration: none;
        color: #b3b3b3;
    }
    
    a.menu-link:hover {
        color: black;
    }
    
    .black-stripe {
        background-color: black;
        opacity: .75;
        padding: 5px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    .stripe {
        width: 100%;
        position: relative;
        margin-bottom: 7vh;
        height: 75vh;
        min-height: 250px;
    }
    
    .stripe-content {
        z-index: 2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        color: white;
    }
    
    .black-stripe,
    .stripe-content {
        width: 100%;
        height: 100%;
    }
    
    .stripe-content h1 {
        font-size: 4rem;
        margin: 0px;
        color: white;
    }
    
    h2 {
        font-size: 2.8rem;
        font-weight: 700;
    }
    
    h3 {
        font-size: 1.3rem;
    }
    
    .stripe-content>span {
        margin: 4rem 0 6rem 0;
    }
    
    .button {
        color: white;
        height: 6rem;
        border-radius: 3rem;
        background-color: #7cc576;
        padding: 10px 30px;
        opacity: 1;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
        font-weight: 600;
    }
    
    .button:hover {
        background-color: white;
        color: black;
        cursor: pointer;
    }
    
    .new-block {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 3.3rem;
    }
    
    .new-block-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        margin-bottom: 6.6rem;
    }
    
    .new-block-header h2 {
        padding-bottom: 1.2rem;
        margin: 0;
    }
    
    .new-block-header span {
        font-size: 1.2rem;
    }
    
    .box-cards {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    
    .box-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        min-width: 100px;
        margin: 0 0;
    }
    
    .box-card>img {
        height: 4.3rem;
    }
    
    .box-card>p {
        text-align: center;
    }
    
    .rx-box {
        display: flex;
        padding-top: 3rem;
        width: 100%;
    }
    
    .rx-gray {
        background-color: #e9e9e9;
        padding: 9rem 0 9rem 16.5vw;
        min-height: 21rem;
        height: 100%;
    }
    
    .rx-gear {
        height: 29.4vw;
        width: 14vw;
        background: url(../images/gear.png) no-repeat;
        background-size: cover;
    }
    
    .rx-gear-box {
        padding: 4rem 0 1rem 0;
    }
    
    .rx-bg-box {
        padding: 4rem 0 1rem 0;
        flex-grow: 1;
        background: url(../images/relax-bg.jpg) no-repeat;
        background-size: cover;
        position: relative;
        z-index: 0;
    }
    
    .rx-black-stripe {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    .rx-black {
        background-color: black;
        opacity: .8;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    .rx-content {
        position: relative;
        z-index: 2;
        padding: 6rem 3rem 6rem 6rem;
    }
    
    .rx-content h2 {
        color: white;
        text-align: left;
    }
    
    span.green {
        color: #7cc576;
    }
    
    .rx-content ul {
        list-style: none;
        line-height: 3rem;
        padding: 0;
    }
    
    .rx-content ul li div::before {
        content: "";
        width: 2em;
        height: 2em;
        background: url(../images/galka.svg) no-repeat;
        background-size: cover;
        display: inline-block;
        vertical-align: middle;
        margin-right: 1em;
    }
    
    .rx-btn {
        display: inline-block;
    }
    
    .project-bg {
        background: url(../images/ipad.png) no-repeat;
        background-position: 50vw center;
        background-size: contain;
        display: flex;
        justify-content: center;
        margin-bottom: 8rem;
        width: 100%;
    }
    
    .project-content {
        width: 67%;
    }
    
    .project-box {
        text-align: left;
        width: 32vw;
    }
    
    .project-box h3 {
        text-align: left;
    }
    
    .project-icon {
        width: 4.7rem;
        height: 4.7rem;
        background-color: white;
        border-radius: 50%;
        margin-right: 0rem;
        flex-shrink: 0;
    }
    
    .icon1,
    .icon2,
    .icon3 {
        width: 70%;
        height: 100%;
    }
    
    .icon1 {
        background: url(../images/basket.png) no-repeat center center;
        background-size: contain;
    }
    
    .icon2 {
        background: url(../images/laptop.png) no-repeat center center;
        background-size: contain;
    }
    
    .icon3 {
        background: url(../images/lock.png) no-repeat center center;
        background-size: contain;
    }
    
    .project-row {
        display: flex;
        align-items: center;
        margin: 2rem 0;
    }
    
    .project-row h4,
    .project-row p {
        margin: 0;
        text-align: left;
    }
    
    .project-text {
        flex-grow: 1;
    }
    
    .details {
        text-decoration: none;
        color: #7cc576;
        font-family: sans-serif;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .details:hover {
        color: black;
        cursor: pointer;
    }
    
    .m-menu-link {
        display: none;
        color: #e9e9e9;
        font-size: 3rem;
    }
    
    .m-menu {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        list-style: none;
        font-size: 3rem;
        text-align: center;
        line-height: 6rem;
        background-color: #777777;
        z-index: 99;
        margin: 0;
        transition: 0.2s;
        transform: translateX(100%);
    }
    
    .m-menu__active {
        transform: translateX(0%);
    }
    
    .close-m-menu {
        position: fixed;
        right: 16.5vh;
        top: 40px;
        font-size: 5rem;
        font-weight: 900;
    }
    
    .close-m-menu:hover {
        cursor: pointer;
        color: black;
    }
    
    .footer {
        background-color: #222222;
        color: white;
        padding-bottom: 3rem;
    }
    
    .footer * {
        color: white;
    }
    
    .footer p {
        margin: 0;
    }
    
    .footer-block {
        display: flex;
        flex-direction: column;
    }
    
    .footer-item {
        display: flex;
        margin: 0.5rem 0;
    }
    
    .footer-item>p {
        align-self: center;
    }
    
    .footer-icon {
        width: 2.2rem;
        text-align: center;
        font-size: 2rem;
        margin-right: 1rem;
    }
    
    .tweet {
        display: flex;
        flex-direction: column;
    }
    
    .hashtag {
        font-weight: bold;
    }
    
    .posted {
        font-size: 1rem;
    }
    
    .footer-contact {
        width: 20%;
    }
    
    .footer-posts,
    .footer-tweets {
        width: 35%;
    }